* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    height:  100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#root{
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.main {
  border-radius: 10px;
  background-color: #F5F5F5;
  font-family: "Inter", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}
.dice-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

button{
  font-family: inherit;
  cursor: pointer;
}

.btn{
  border-radius: 10px;
  border:none;
  background-color: white;
  height: 50px;
  width: 50px;
  font-weight: 600;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 1.75rem;
}

.roll-btn{
  padding: 10px 30px;
  border: none;
  background-color: #5035FF;
  border-radius: 6px;
  color: white;
  font-size: 1.2rem;
}